/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1599px) {
  .page-hero-content h1 .h1-box-1 {
    margin-bottom: -7px;
  }

  .section.hero-area {
    padding-top: 95px;
  }
  .page-hero-content h1 {
    font-size: 40px;
  }
  .page-hero-content h1 span {
    font-size: 72px;
  }
  .page-hero {
    padding: 224px 0px 130px;
  }

  .page-hero {
    padding: 150px 0px 80px;
  }
  .page-hero-img {
    margin-top: 30px;
  }
  .page-hero-img img {
    width: 350px;
    max-width: 100%;
  }

  .aboutBlock {
    padding: 70px 0px 80px;
  }

  /* sr-start */
  .sr-card__logo {
    margin-bottom: 23px;
  }
  .sr-section {
    padding: 200px 0 130px;
  }
  .sr-card__logo .img {
    width: calc(var(--width-data) * 0.7);
  }
  .sr-card h2 {
    font-size: 39px;
    margin-bottom: 25px;
  }
  .sr-card .options .a {
    font-size: 20px;
  }
  .sr-card .options {
    gap: 45px;
  }
  .sr-card {
    padding: 20px 20px 40px;
  }
  .sr-card .right-dots .dot {
    height: 30px;
    width: 30px;
  }
  .sr-card .right-dots {
    gap: 15px;
    top: 17px;
    right: 17px;
  }
  .sr-blk h4 {
    font-size: 20px;
    word-spacing: 1px;
  }
  .sr-blk {
    margin: 45px 0;
  }
  .sr-f-image {
    margin-bottom: 100px;
  }
  /* sr-end */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1599px) {
  .header {
    padding: 24px 0px 15px;
  }
  .header-logo img {
    width: 140px;
  }
  .header-nav ul li a {
    font-size: 17px;
  }
  .header-nav ul {
    gap: 45px;
  }
  .header-nav {
    margin-top: 26px;
  }
  .header.sticky .header-nav ul li a {
    font-size: 15px;
  }
  .header.sticky {
    padding: 14px 0px 10px;
  }

  .hero-content h1 span {
    font-size: 72px;
  }
  .hero-content h1 {
    font-size: 36px;
    margin-bottom: 18px;
  }
  .hero-content p {
    margin-bottom: 20px;
  }
  .link.link-arrow .icon img {
    width: 30px;
  }
  .hero-img {
    max-width: 270px;
  }

  body {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }

  .expert-nav {
    margin-bottom: 15px;
  }
  .expert-content-body p.fs-2 {
    font-size: calc(1.1rem + 0.9vw) !important;
  }
  .expert-nav ul li button {
    padding: 10px 20px;
    max-width: 190px;
    height: 66px;
    line-height: 1.3;
  }
  .expert-body {
    padding: 37px 64px;
    max-width: 840px;
  }
  .expert-content-header img {
    max-width: 120px;
    margin-bottom: 8px;
  }
  .expert-content-header h2 {
    font-size: 30px;
  }

  .work-contnet-text span {
    font-size: 16px;
  }
  .workItem-contnet a {
    font-size: 17px;
  }
  .faqItem-img {
    width: 82px;
  }
  .faqItem-content h4 {
    font-size: calc(1.15rem + 0.3vw);
  }
  .faqItem-content p {
    font-size: 15px;
  }
  .footer-menu ul li a {
    font-size: 16px;
  }

  .aboutBlock-title h2 {
    font-size: calc(1.2rem + 0.9vw);
  }
  .aboutBlock-title img {
    width: 40px;
  }
  .aboutBlock-content p {
    font-size: 25px;
  }
  .aboutBlock-branches ul li a {
    font-size: 18px;
    padding: 3px 0px;
  }

  .aboutBlock-branches span {
    width: 13px;
    height: 13px;
    margin-top: 7px;
  }
  .aboutBlock-branches span {
    width: 18px;
    height: 18px;
    margin-top: 7px;
  }
  .contact-header {
    max-width: 557px;
    margin-bottom: 80px;
  }
  .contact-header p {
    font-size: 27px;
  }
  .contact-info__item {
    margin-bottom: 60px;
  }
  .contact__mail-man {
    width: 249px;
    top: -35px;
    right: -29px;
  }
  .contact-header h2 {
    font-size: 40px;
    margin-bottom: 13px;
  }
  .contact-info__item a {
    font-size: 24px;
  }
  .contact-info__social a img {
    max-width: 40px;
  }
  .contact-area {
    padding: 150px 0px 30px;
  }

  .doc-area {
    padding: 150px 0px 80px;
  }
  .doc-wrapper h2.title {
    margin-bottom: 40px;
    font-size: 36px;
  }
  .doc-wrapper p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .doc-wrapper ul li {
    font-size: 16px;
    padding-left: 16px;
  }
  .docBlock {
    margin-bottom: 50px;
  }
  .docBlock h3 {
    margin-bottom: 20px;
  }
  .docBlock h3.fs-2 {
    font-size: 26px !important;
  }
  .doc-wrapper h4 {
    font-size: 20px;
    margin: 0 0 20px;
  }

  .notFound {
    padding: 180px 0px 50px;
  }
  .notFound-content h2 {
    font-size: 150px;
  }
  .notFound-content p {
    font-size: 22px;
  }

  .client-owl-slide .image {
    height: 83px;
  }

  /* sr-start */
  .slidem {
    height: 46px;
  }
  /* sr-end */
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 991px) {
  .section.hero-area {
    min-height: initial;
    padding: 190px 0px 60px;
  }
  .hero-content {
    text-align: center;
  }
  .hero-content h1 span {
    font-size: 50px;
  }
  .link.link-arrow {
    display: inline-flex;
  }
  .expert-nav ul li button {
    max-width: 150px;
    height: 80px;
    font-size: 15px;
  }

  .section.clients-area {
    min-height: unset;
    padding: 70px 0px 80px;
  }

  .section.faq-area {
    min-height: unset;
    padding: 40px 0px 70px;
  }

  .section.work-area {
    min-height: 100vh;
    padding: 60px 0px 40px;
  }

  .footer {
    padding: 65px 0px 40px;
  }
  .footer-logo img {
    max-width: 100%;
  }
  .footer-menu ul li a {
    font-size: 12px;
  }
  .footer-social {
    gap: 7px;
  }
  .footer-copy {
    margin-top: 29px;
  }
  .expert-content-body p.fs-2 {
    font-size: 24px !important;
  }
  .bulb {
    display: none;
  }
  .page-hero-content h1 span {
    font-size: 50px;
  }
  .page-hero-content h1 {
    font-size: 30px;
  }
  .aboutBlock-title {
    flex-direction: column-reverse;
    gap: 33px;
    margin-bottom: 25px;
  }

  .contact__mail-man {
    display: none;
  }

  /* sr-start */
  .sr-card__logo .img {
    width: calc(var(--width-data) * 0.5);
  }
  .sr-card h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .sr-card .options .a {
    font-size: 17px;
  }
  .sr-card .options {
    gap: 30px;
  }
  .sr-card .right-dots .dot {
    height: 25px;
    width: 25px;
  }
  .sr-card .right-dots {
    gap: 11px;
    top: 14px;
    right: 14px;
  }
  .sr-blk h4 {
    font-size: 16px;
    word-spacing: 1px;
  }
  /* sr-end */
}

/*  Medium devices (tablets, 768px and up) */
@media (max-width: 767px) {
  .hero-content h1 {
    font-size: 24px;
  }
  .hero-content h1 span {
    font-size: 36px;
  }
  .header-logo img {
    max-width: 98px;
  }
  .header {
    padding: 29px 0px 20px;
    transform: 0.3s;
  }
  .header.sticky .header-logo a img {
    max-width: 98px;
  }
  body {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  .link.link-arrow span img {
    max-width: 22px;
  }
  .hero-content h1 {
    margin-bottom: 12px;
  }
  .hero-content p {
    margin-bottom: 15px;
  }
  .expert-nav ul li button {
    max-width: 74px;
    height: 42px;
    font-size: 7px;
  }
  .expert-nav {
    margin-bottom: 20px;
  }
  .section-title {
    margin-bottom: 25px;
  }
  .expert-body {
    padding: 13px 11px;
  }
  .expert-content-header img {
    max-width: 60px;
  }
  .expert-content-body p {
    opacity: 0.7;
    font-size: 10px;
  }
  .expert-content-body p.fs-2 {
    font-size: 12px !important;
  }
  .expert-content-body .link.link-arrow {
    font-size: 11px;
  }

  body,
  html {
    overflow-x: hidden;
  }

  .workItem-img {
    height: 157px;
    padding: 20px 30px 10px;
  }
  .p-logo {
    max-width: 28px;
  }
  .workItem-img .p-img {
    position: relative;
    transition: 1s;
    max-width: 65%;
    max-height: 113px;
  }
  .work-contnet-text span {
    font-size: 11px;
  }
  .work-contnet-text {
    padding: 11px 9px;
  }
  .workItem-contnet a {
    font-size: 12px;
  }
  .workItem {
    max-width: 290px;
    margin: 0 auto;
    margin-bottom: 64px;
  }
  .section-title h2 {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
  }
  .section-title h2::after {
    width: 40px;
  }
  .section.faq-area .section-title {
    margin-bottom: 42px;
  }
  .faqItem-img {
    width: 62px;
  }
  .faqItem-content h4 {
    font-size: 13px;
  }
  .faqItem-content p {
    font-size: 12px;
  }
  .faqItem {
    gap: 18px;
    max-width: 290px;
    margin: 0 auto;
  }
  .footer-logo {
    text-align: center;
    margin-bottom: 13px;
  }
  .footer-menu {
    margin-bottom: 20px;
  }
  .footer-social {
    gap: 7px;
    justify-content: center;
  }
  .footer-copy ul li a {
    font-size: 9px;
  }
  .expert-content-header h2 {
    font-size: 26px;
  }

  .bulb {
    display: none;
  }

  .expert-nav ul li button {
    padding: 2px 5px;
  }

  .page-hero-content h1 span {
    font-size: 40px;
  }
  .page-hero-content h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
  }
  .page-hero-img img {
    max-width: 100%;
  }
  .page-hero-img {
    margin-top: 30px;
  }
  .page-hero {
    padding: 150px 0px 50px;
  }
  .aboutBlock {
    padding: 40px 0px 45px;
  }
  .aboutBlock-content p {
    font-size: 14px;
    font-weight: normal;
  }
  .aboutBlock-title {
    flex-direction: column-reverse;
    gap: 21px;
    margin-bottom: 7px;
  }
  .aboutBlock-branches {
    gap: 18px;
    margin-bottom: 20px;
    width: 100%;
  }
  .aboutBlock-content {
    padding-right: 0px;
  }
  .aboutBlock-branches ul li a {
    font-size: 14px;
    padding: 3px 0px;
  }
  .aboutBlock-branches span {
    width: 15px;
    height: 15px;
    margin-top: 6px;
  }
  .contact-header h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .contact-header p {
    font-size: 18px;
  }
  .contact-info__item a {
    font-size: 12px;
  }
  .contact-info__item span {
    font-size: 11px;
    display: block;
    margin-bottom: 2px;
  }
  .contact-info__social a img {
    max-width: 24px;
  }
  .contact-info__social {
    gap: 8px;
  }
  .contact-info__item {
    margin-bottom: 30px;
  }
  .contact-info__item span img {
    max-width: 20px;
  }
  .contact-header {
    margin-bottom: 24px;
  }

  .doc-wrapper h2.title {
    margin-bottom: 30px;
    font-size: 28px;
  }
  .doc-wrapper p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .docBlock h3.fs-2 {
    font-size: 20px !important;
  }
  .doc-wrapper ul li {
    font-size: 15px;
    padding-left: 15px;
  }
  .doc-wrapper h4 {
    font-size: 18px;
    margin: 0 0 17px;
  }
  .doc-area {
    padding: 120px 0px 50px;
  }

  .notFound-content h2 {
    font-size: 100px;
  }
  .notFound-content p {
    font-size: 17px;
  }
  .notFound {
    padding: 150px 0px 100px;
  }

  .page-hero-content h1 .h1-box-1 {
    margin-bottom: 0px;
  }

  .client-owl-slide .image {
    height: 50px;
  }

  /* sr-start */
  .sr-card__logo .img {
    width: calc(var(--width-data) * 0.4);
  }
  .sr-card h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .sr-card .options .a {
    font-size: 14px;
  }
  .sr-card .options {
    gap: 22px;
  }
  .sr-card__logo {
    margin-bottom: 15px;
  }
  .sr-card .right-dots .dot {
    height: 18px;
    width: 18px;
  }
  .sr-card .right-dots {
    gap: 7px;
    top: 9px;
    right: 10px;
  }
  .sr-card {
    padding: 12px 12px 22px;
  }
  .sr-section {
    padding: 120px 0 50px;
  }
  .sr-blk h4 {
    font-size: 14px;
    word-spacing: 0.5px;
  }
  .sr-blk {
    margin: 25px 0 30px;
  }
  .sr-f-image {
    --slider-width: 0px;
    margin-bottom: 50px;
    width: calc(100vw - var(--slider-width));
    margin-left: calc(((50vw - 50%) * -1) + (var(--slider-width) * 0.5));
  }

  .slidem {
    height: 30px;
  }
  /* sr-end */
}

/* Small devices  */
@media (max-width: 576px) {
}

@media (max-width: 370px) {
  .sr-card h2 {
    font-size: 17px;
    margin-bottom: 12px;
  }
  .sr-card .options .a {
    font-size: 13px;
  }
  .sr-card .options {
    gap: 18px;
  }
  .sr-blk h4 {
    font-size: 13.5px;
    word-spacing: 0px;
  }
}
